<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<body>

  <h2 class="headline">Login Page</h2>
  {%  for message in messages %}
        <p>{{  message }}</p>
  {% endfor %}
  <div class="container1">
    <form method="post">
      {% csrf_token %}
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <label>
          <span class="register">Need an Account? <a href="{% url 'register' %}">Register Now</a></span>
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>

</body>
</html>